.experiment_box{
    width: 100%;
}
/* .experiment_box>div{
    display: none;
}
.experiment_box.home>.experiment_show_box{
    display: block;
}
.experiment_box.ExperimentAdd>.experiment_add_box{
    display: block;
} */